<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boxes</title>
</head>
<body>
  <h1>Boxes</h1>
  <ul>
    <% allBoxes.forEach(function(box) { %>
      <li>
        <h2><%= box.nom %></h2>
        <p>Pieces: <%= box.pieces %></p>
        <p>Price: <%= box.prix %> €</p>
        <p>Image: <img src="<%= box.image %>" alt="Image of <%= box.nom %>" style="width:100px;height:100px;"></p>
        <h3>Aliments:</h3>
        <ul>
          <% box.aliments.forEach(function(aliment) { %>
            <li><%= aliment.nom %> - Quantity: <%= aliment.quantite %></li>
          <% }); %>
        </ul>
        <h3>Flavors:</h3>
        <ul>
          <% box.saveurs.forEach(function(saveur) { %>
            <li><%= saveur %></li>
          <% }); %>
        </ul>
      </li>
    <% }); %>
  </ul>
</body>
</html>
